<!DOCTYPE html>
<head>
    <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css' %}" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="{% static 'https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' %}" rel="stylesheet" />
        <link href="{% static 'https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' %}" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css' %}" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dashboard</title>
        <style>
            body{font-family:Arial, sans-serif; background-color: #F5F5DC;}
            h1{text-align: center;}
            p{text-align:center;}
            div{text-align:center;}
        </style>
    </head>
    <body>
        <h1>Employee Management DashBoard</h1>
        <br/>
        <p>***place holder***</p>
        <br/>
        <p>***place holder***</p>
    </body>
</html>