{%  extends 'website/main.html' %}

{% block content %}

{% include 'website/taskspreview.html' %}

<div class="row mt-2 mx-2">
	<div class="col-md-3">
		<h2 class="text-center">Employees</h2>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create New Employee</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Employee</th>
					<th>Team</th>
				</tr>

			</table>
		</div>
	</div>
<!--Schedule preview should go down here-->
<div class="row mt-2 mx-2">

</div>

{% endblock %}