{%  extends 'website/main.html' %}

{% block content %}
<div class="container">
    <div class="col py-2">
        <div class="row justify-content-center">
            {% include 'website/taskspreview.html' %}
        </div>

        <div class="row justify-content-evenly">
            <div class="col">
                {% include 'website/employeespreview.html' %}
            </div>
            <div class="col">
                {% include 'website/schedulepreview.html' %}
            </div>
        </div>
    </div>
</div>



<!--Schedule preview should go down here-->
<div class="row mt-2 mx-2">

</div>

{% endblock %}