<div class="col">
    <!--Add link to employee view page-->
<div class="card card-body"><h2 class="text-center"><a class="text-reset text-decoration-none" href='{% url "schedule:schedule" %}'>Today's schedule</a></h2>
    <div class="btn-group gap-2">
        <a class="btn btn-primary btn-sm" href="{% url 'schedule:newschedule' %}">Create New Schedule</a>
    </div>
    <table class="table table-sm" id="scheduleTable">
        <thead class="table-dark">
        {% if schedules %}
        <tr>
            <th class="text-center">Employee</th>
            <th class="text-center">Team</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td><a class="text-reset text-decoration-none" href='{% url "schedule:editschedule" schedule.id%}'>{{ schedule.employee|capfirst }}</a></td>
                <td class="text-center">Team</td>
                <td>{{ schedule.schedule_date }}</td>
                <td>{{ schedule.time_start }}</td>
                <td>{{ schedule.time_end }}</td>
            </tr>
            {% endfor %}
            {% else %} 
                <br><br>
                <tr class="text-center"><h4>Looks like no one is scheduled today!</h4></tr>
            {% endif %} 
        </tbody>               
        </table>
    </div>
</div>