<div class="col">
    <!--Add link to employee view page-->
<div class="card card-body"><h2 class="text-center"><a class="text-reset text-decoration-none" href='{% url "schedule:schedule" %}'>Today's schedule</a></h2>
    <div class="btn-group gap-2">
        <a class="btn btn-primary btn-sm" href="{% url 'schedule:newschedule' %}">Create New Schedule</a>
    </div>
    <table class="table table-sm" id="scheduleTable">
        {% if schedules %}
        <tr>
            <th class="text-center" onclick="sortTable(0)">Employee</th>
            <th class="text-center" onclick="sortTable(1)">Team</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        
        
        {% for schedule in schedules %}
            <tr>
                <td><a class="text-reset text-decoration-none" href='{% url "schedule:editschedule" schedule.id%}'>{{ schedule.employee|capfirst }}</a></td>
                <td class="text-center">Team</td>
                <td>{{ schedule.schedule_date }}</td>
                <td>{{ schedule.time_start }}</td>
                <td>{{ schedule.time_end }}</td>
            </tr>
            {% endfor %}
            {% else %} 
                <br><br>
                <tr class="text-center"><h4>Looks like no one is scheduled today!</h4></tr>
            {% endif %}                
        </table>
    </div>
</div>


<script>
function sortTable(n) {
var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
table = document.getElementById("scheduleTable");
switching = true;
//Set the sorting direction to ascending:
dir = "asc"; 
/*Make a loop that will continue until
no switching has been done:*/
while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
    //start by saying there should be no switching:
    shouldSwitch = false;
    /*Get the two elements you want to compare,
    one from current row and one from the next:*/
    x = rows[i].getElementsByTagName("TD")[n];
    y = rows[i + 1].getElementsByTagName("TD")[n];
    /*check if the two rows should switch place,
    based on the direction, asc or desc:*/
    if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch= true;
        break;
        }
    } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
        }
    }
    }
    if (shouldSwitch) {
    /*If a switch has been marked, make the switch
    and mark that a switch has been done:*/
    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
    switching = true;
    //Each time a switch is done, increase this count by 1:
    switchcount ++;      
    } else {
    /*If no switching has been done AND the direction is "asc",
    set the direction to "desc" and run the while loop again.*/
    if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
    }
    }
}
}
</script>
