	<div class="col-md-10 mt-4">
		<h2 class="text-center">Tasks</h2>
        <hr>
        {% if tasks is None %}

        <h1 class="display-3">Looks like you're all caught up!</h1>      
        
        {% endif %}
		<div class="card card-body">
			<a class="btn btn-primary btn-sm btn-block" href="{% url 'tasks:newtask' %}">Create Task</a>
            <table class="table table-sm table-striped">
				<tr>
                    <th class="col-sm-3">Task</th>
                    <th class="px-1">Assigned To</th>
                    <th class="px-1">Assigned By</th>
					<th>Date Assigned</th>
					<th>Status</th>
					<th>Update</th>
                </tr>
                {% if tasks is None %}



                {% endif %}
                {% for task in tasks %}
                {% if task.is_complete %}<tr class="table-success">
                {% else %} <tr>
                {% endif %}
                    <td class="text-truncate">{{ task.title }}</td>
                    <td>{{ task.assignee.all.first|capfirst }}</td>
                    <td>{{ task.assigner|capfirst }}</td>
                    <td>{{ task.date_created.date }}</td>
                    {% if task.is_complete %}
                    <td>Complete</td>
                    {% else %}
                    <td>Incomplete</td>
                    {% endif %}
                    <td><a class="btn btn-sm btn-primary" href="{% url 'tasks:viewtask' task.id %}">Update</a></td>
                </tr>
                {% endfor %}
            </table>

		</div>
	</div>
</div>