{% extends "website/main.html" %}
{% load static %}
{% block content %}
<div class="header">

</div>
<div class="row px-3 ">
	<div class="col-md-3">
		<div class="card card-body">
              <img src="{{ employee.profile_picture.url }}" alt="Profile Picture" style="width:100%">
                <h1>{{name|capfirst}}</h1>
                <h3>City College of San Francisco</h3>
                <p class="title">Team</hp>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
    </div>


<div class="col-md-7">
	<div class="card card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-primary" type="submit" name="Update Information">
        </form>
        {{ error }}
    </div>
</div>
</div>


{% endblock %}
