{% extends "website/main.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-md-3">
            <div class="card card-body">
                <img src="{{ employee.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail">
                    <h1>{{name|capfirst}}</h1>
                    <h4>City College of San Francisco</h4>
                    <p class="title fst-italic">Team: {{group|capfirst}}</hp>
            </div>
        </div>


        <div class="col-md-8">
            <div class="card card-body">
                <ul class="list-group">
                    <li class="list-group-item">First name: {{employee.first_name }}</li>
                    <li class="list-group-item">Last name: {{employee.last_name}}</li>
                    <li class="list-group-item">Address: {{employee.street}} {{employee.city}}, {{employee.state}}</li>
                    <li class="list-group-item">Phone: {{employee.phone}}</li>
                </ul>
                <a class="btn btn-primary" href="{% url 'profile:editprofile' request.user.username %}" name="Edit Profile Information">Edit Profile Information</a>       
            </div>
        </div>
    </div>
</div>


{% endblock %}
