{% extends "website/main.html" %}

{% block content %}

<div class="container-fluid">
    <div class="card">
        <h3 class="card-header">Edit this task</h3>    
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    {{field.label}}
                </div>
            </div>    
                <div class="row-lg">
                    {{ field }}
                </div>
            {% endfor %}
    </div>
    
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Edit Task</button>
            <a class="btn btn-danger" href="{% url 'tasks:deletetask' task.id %}">Delete Task</a>
            <span>{{error}}</span>
        </div>
    </form>
</div>


{% endblock %}


