{% extends "website/main.html" %}

{% block content %}


<h2>{{ error }}</h2>

<div class="container-fluid">
    <div class="card">
        <h5 class="card-header">Create a new task</h5>    
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    {{field.label}}
                </div>
            </div>    
                <div class="row-lg">
                    {{ field }}
                </div>
            {% endfor %}
    </div>
    
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">New Task</button>
                <span>{{error}}</span>
        </div>
    </form>
</div>

{% endblock %}