<h1>New Tasks Page</h1>

<!--return error value from key 'error' if passwords don't match-->
<h2>{{ error }}</h2>

<form method = "POST">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">New Task</button>
</form>

<body>
    <head>
        <style>
            body {
                font-family: Arial; background-color: rgba(97, 90, 78, 0.959); 
                height: 200px;
                width: 400px;
                position: fixed;
                top: 50%;
                left: 50%;
                margin-top: -250px;
                margin-left: -200px;
                text-align: center;
            }
            button {
                border-radius: 150%;
            }
        </style>
    </head>
</body>