{% extends "website/index.html" %}

{% block title %}The Tasks Page{% endblock %}

{% block maintitle %}Go ahead and create a new task object. That oughtta be fun!{% endblock %}

{% if employee.user.is_staff %}
{% block mainbutton %}<a class="btn btn-primary btn-xl" href="{% url 'tasks:newtask' %}">New Task</a>{% endblock %}
{% endif %}


{% if user.is_authenticated %}
{% block content %}
<section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Here are your current tasks.</h2>
                        <hr class="divider divider-light" />
                        <!--for loop through tasks-->
                        <ul class="text-white-75 mb-4">
                        {% for task in tasks %}
                            <a href="{% url 'tasks:viewtask' task.id %}">
                            <li>{{ task.title }}</li>
                            </a>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
</section>
{% endblock %}
{% endif %}
