{% extends 'website/main.html' %}
{% block content %}

<style>
    div.p-3 {
        font-size: 24px;
    }
    div.px-2 {
        font-size: 24px;
    }   
</style>
<br>
<div class="container px-4">
    <div class="row gy-2 gx-3 align-items-center">
        <div class = "col-sm-5">
            <form method="POST">
            {% csrf_token %}
            
            <div class="p-3 border bg-light">
                {{form}}
            </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Get Paystub</button>
                    <span>{{error}}</span>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}