{% extends "website/main.html" %}

{% block content %}

<div class="container-fluid">
    <div class="col py-2">
        <div class="card w-75">
            <h4 class="card-header text-center">Approve this request</h4>    
                <div class="form-style">
                    <form method = "POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Confirm Approval</button>
                <a class="btn btn-danger" href="">Delete Request</a>
                    </form>
                </div>
            <h2>{{ error }}</h2>
        </div>
    </div>   
</div>

{% endblock %}