{% extends "website/main.html" %}

{% block content %}

<style>
    body {
        text-align: center;
    }
    div {
        display: block;
    }
    button {
        text-align: center;
            background-color: #f4623a;
            color: white;
            border:none;
            border-radius: 500px;
            width: 140px;
            padding: 10px;
            display: inline-block;
            margin: 2px 2px;
    }
</style>

<!--return error value from key 'error' if passwords don't match-->
<h2>{{ error }}</h2>
<br>
<div class="form-style">
    <form method = "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">New Schedule</button>
    </form>
</div>

{% endblock %}