{% extends "website/main.html" %}

{% block content %}

<style>
    body {
        text-align: center;
    }
    div {
        display: block;
    }
    button {
        text-align: center;
        background-color: #007bff;
        color: white;
        border:none;
        border-radius: 4px;
        width: 8%;
        padding: 2px;
        display: inline-block;
        margin: 2px 2px;
    }
</style>

<br><br>
<h1>Create New Schedule</h1>
<hr size="2" width="38%" color="black">
<br>
<!--return error value from key 'error' if passwords don't match-->
<h2>{{ error }}</h2>

<div class="form-style">
    <form method = "POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">New Schedule</button>
    </form>
</div>

{% endblock %}