{% extends "website/main.html" %}
{% load static %}
{% block header %}
<link href="{% static 'css/main.css' %}" rel='stylesheet' />
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
    <script>
      
      
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            googleCalendarApiKey: 'AIzaSyAYhkF8K-I99n_j0RhGcfcechvyxpdggHg',
            events: '/schedule/eventsFeed',
            initialView: 'dayGridMonth',
            height: "auto"
        });

        calendar.render();
      });
    </script>

{% endblock %}
{% block content %}

<div id='calendar'></div>

{% if employee.user.is_staff %}
<a class="btn btn-primary btn-xl" href="{% url 'schedule:newschedule' %}">New Schedule</a>
{% endif %}

{% endblock %}

