{% extends "website/main.html" %}
{% load static %}
{% block header %}

<br>
    {% comment %} centered nav bar {% endcomment %}
    

    <link href="{% static 'css/main.css' %}" rel='stylesheet' >

    <script>
      
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: '/schedule/eventsFeed',
            initialView: 'dayGridMonth',
            height: "auto"
        });

        calendar.render();
      });
    </script>

{% endblock %}
{% block content %}
<div id='calendar'></div>
<a class="btn btn-primary btn-xl" href="{% url 'schedule:newschedule' %}">New Schedule</a>
{% if user.is_staff %}
<a class="btn btn-primary btn-xl" href="{% url 'schedule:timeoff' %}">View Time Off Requests</a>
{% else %}
<a class="btn btn-primary btn-xl" href="{% url 'schedule:newtimeoff' %}">New Time Off Requests</a>
{% endif %}
{% endblock %}

